$color-white: #ffffff;
$color-grey-96: #f5f5f5;
$color-grey: #bebebe;
$color-grey-63: #a0a0a0;
$color-grey-40: #666666;
$color-grey-21: #363636;
$color-black: #000000;

$color-blue: #2789bd;

// Color mappings
$color-body-background:  $color-grey-96;
$color-font: $color-grey-21;
$color-link: $color-blue;

// Component - Github repo card
$color-repo-card-background: $color-white;
$color-repo-card-shadow: rgba($color-grey-40, 0.1);
$color-repo-card-font-light: $color-grey;
$color-repo-card-description: $color-grey-63;
$color-repo-card-icon-text: $color-grey-40;
$color-repo-card-icon: $color-grey;

// Component - Loading
$color-loading-spinner: $color-grey;

// Component - Error Message
$color-error-message: $color-grey;
